.candidateCard {
    margin: 40px auto;
    max-width: 400px;
}

.candidateCard__image {
    min-height: 330px;
}

.candidateCard .ant-card-body {
    padding: 15px 20px;
}

.candidateCard__label {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.-bold {
    font-weight: bold;
}

.candidateCard__vote {
    margin-top: 17px;
    width: 60%;
    height: 40px;
    font-weight: bold;
    font-size: 15.5px;
    margin-left: calc(20%);
    font-family: var(--secondary-font);
    padding-right: 20px;
}

.candidateCard__label.--fontBig{
    padding-bottom: 4px;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    font-family: var(--primary-font);
}

.candidateCard__label{
    font-family: var(--secondary-font);
    font-size: 15px;
}

.--center{
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
}

.candidateCard__section{
    display: flex;
    justify-content: space-between;
}

.candidateCard__section__button.--selected{
    background: #87D068;
    color: black;
}
.candidateCard__section__button:hover.--selected{
    background: #87D068;
    color: blue;
}
.candidateCard__label.-header{
    margin-bottom: 15px;
}
.candidateCard__label{
    margin-bottom: 10px;
}
.candidateCard__label__icon{
    margin-right: 10px;
}
.candidateCard__metaitem *{
    color: black;
}
.candidateCard__metaitem:hover *{
    color: #54A9FF;
}
@media (min-width: 896px){
    .candidateCard {
        margin: 40px 35px;
        max-width: 400px;
    }

}



