.candidateList {
    margin: 0rem auto;
    padding: 1.2rem 0;
    width: 90%;
}
.candidateView.--voters .ant-spin-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.candidateView.--voters .ant-card-cover {
    overflow: hidden;
    height: 330px;
    width: 400px;
    max-height: 330px;
}
.no_candidate{
    font-family: var(--primary-font);
    text-align: center;
}
.compareCandidate{
    display: flex;
    justify-content: space-between;
    margin-right:40px;
    align-items: center;
}
.compareCandidate__icon.-small-margin{
    margin-right: -7px;
}
.candidateView.--voters{
    background:linear-gradient(to bottom right, hsl(208, 100%, 98.5%) 30%, white);
}
.compareCandidate__text{
    font-family: var(--primary-font);
    font-size: 23px;
}