.candidateList {
    margin: 3rem auto;
    width: 90%;
}

@media (min-width: 896px){
    .candidateList {


    }
}

.candidateView.--voters .ant-spin-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}




