.content.--voterLayout{
    margin-top: 75px;
}


.content__breadcrumb.--voterLayout{
    padding-top:10px;
    border-bottom: 1.3px solid var(--primary-color);
}

button.electionItem__subitem:hover > a{
    color: rgb(64, 73, 90) !important;
}

.ant-card-actions > li > span:hover{
    color: rgb(146, 149, 155);
    cursor: default;
}

.modalTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalTitle__text{
    text-align: center;
}
.modalTitle__icon{
    transform: scale(1.5);
    padding-right: 9px;
}
.--very.--small{
    height: 32px;
    width: 32px;
}
.--very.--small:first-of-type{
    margin-right:2px;
}
.modalTitle__icons{
    padding-right: 40px;
}
