.-fullWidth {
    width: 100%;
}

.-static {
    position: relative;
}

.viewSharedResult {
    background-color: #F7FBFF;
    min-height: 100vh;
}

.viewSharedResult__electionName {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-align: center;
}

.viewShareResult__download {
    margin-bottom: 5px;
}

.viewSharedResult__table {
    width: 80%;
    margin: 30px auto;
    background-color: #FFFFFF;
}

.notFound {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 1224px){
    .viewSharedResult__table {
        width: 1000px;
    }
}