.-fullWidth {
    width: 100%;
}

.-static {
    position: relative;
}

.viewSharedResult {
    background-color: #F7FBFF;
    min-height: 100vh;
}

.viewSharedResult__table {
    width: 80%;
    margin: 30px auto;
    background-color: #FFFFFF;
}