.viewResultsLayout{
    padding:45px 50px;
}
.--paddingleft{
    margin-right: 10px;
}
.--noPadding{
    padding: 0;
}
.ant-modal{
    width: 70% !important;
    top: 50px;
}
.ant-modal-body {
    padding: 5px;
}
.ant-modal-title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 20px;
}
.tableNameCol__text{
    text-align:left;
    display: inline;
}
.ant-modal-header {
    padding: 26px 24px;
}


@media ( min-width:991px ){
    .ant-modal{
        margin-left: 400px;
        width: calc(90% - 400px) !important;
    }
}

@media ( max-width: 991px ){
    .ant-modal{
        width: 90% !important;
    }
}

@media ( max-width: 900px ){
    .tableNameCol__text{
        display:block;
        margin-top: 5px;
        margin-left: -10px;
    }
}