.viewResultsLayout{
    padding:45px 50px;
}


.ant-modal.userViewElectionModal{
    width: 70% !important;
    top: 50px;
}
.ant-modal.userViewElectionModal .ant-modal-body {
    padding: 5px;
}
.ant-modal.userViewElectionModal .ant-modal-title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 20px;
}
.ant-modal.userViewElectionModal .ant-modal-content {
    min-width: 330px;
}
.tableNameCol__text{
    text-align:left;
    display: inline;
}

.viewResults__share {
    display: flex;
    justify-content: center;
}

.viewResults__shareLink {
    margin: 10px;
}

.ant-modal.userViewElectionModal .ant-modal-header {
    padding: 26px 24px;
}
.--paddingleft{
    margin: 10px;
}
.--noPadding{
    padding: 0;
}

@media ( max-width:500px ){
    tr.ant-table-row.ant-table-row-level-0 {
        font-size: 10px;
    }
    .ant-table-thead{
        font-size: 10px;
    }
}

@media ( min-width:991px ){
    .ant-modal.userViewElectionModal{
        margin-left: 400px;
        width: calc(85% - 400px) !important;
    }
}

@media ( max-width: 991px ){
    .ant-modal.userViewElectionModal{
        width: 90% !important;
    }
}

@media ( max-width: 900px ){
    .tableNameCol__text{
        display:block;
        margin-top: 5px;
        margin-left: -10px;
    }
}