.viewCandidates.--grid {
    margin: 3rem auto;
    width: 90%;
}

.no_candidate{
    font-size: 25px;
}

.viewCandidates__cardImage{
    height: 200px;
}
.viewCandidates__card{
    margin: 40px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #e8eaf6;
}

.viewCandidates__card .ant-card-body {
    padding: 5px;
}

.viewCandidates__card__meta{
    padding-bottom: 8px;
}
.--party .ant-card-meta-title{
    font-weight: 100;
    font-size: 15px;
}
.--education .ant-card-meta-title{
    font-size: 15px;
    font-weight: 100;
}
.--name .ant-card-meta-title{
    font-weight: 900;
    font-size: 130%;
}
.--quote{
    padding-top: 5px;
}

@media ( min-width:1024px ){


    .viewCandidates__card{
        margin: 20px auto;
        max-width: 350px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #e8eaf6;
    }
}

@media ( min-width:1300px ){


    .viewCandidates__card{
        margin: 20px auto;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #e8eaf6;
    }
}

