.viewCandidates {
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.no_candidate_text{
    font-size: 25px;
}

img{
    height:300px;
}
.viewCandidates__card{
    width: 500px;
    margin: 20px;
}
.viewCandidates__card__meta{
    padding-bottom: 8px;
}
.--party .ant-card-meta-title{
    font-weight: 100;
    font-size: 15px;
}
.--education .ant-card-meta-title{
    font-size: 15px;
    font-weight: 100;
}
.--name .ant-card-meta-title{
    font-weight: 900;
    font-size: 130%;
}
.--quote{
    padding-top: 5px;
}


@media ( min-width:1000px ){
    .viewCandidates {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}