.statisticsLayout{
    padding: 30px 50px;
}
.chart{
    background: rgb(236, 234, 234);
    margin: 20px;
}

@media ( min-width: 1500px ){
    .statisticsLayout{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .chart{
        width:45%;
        
    }
}
