.statisticsLayout{
    padding: 30px 50px;
    background-color: #f7fbff;
}

.chart{
    /* background: rgb(236, 235, 235); */
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    margin: 20px;
}

.statisticsLayout .loader{
    width: 100%;
}

.statisticsLayout__statistic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statisticsLayout__statistic__card{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.--large{
    width: 95%;
}

.--hidden{
    display: none;
}

@media (min-width : 1500px){
    .chart{
        width:45%
    }

    .--large{
        width: 90%;
    }

    .statisticsLayout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}