.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.form .form__heading {
    padding-bottom: 2rem;
    text-align: center;
}
.form .form_subSection {
    padding: 0 10px;
}

.form .form_subSection .form__input {
    margin: 1rem 0;
}

.-flex {
    display: flex;
    justify-content: center;
}

.form .form_subSection .form__submit {
    margin: 1rem 0;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #322f61;
}

@media (max-width: 950px) {
    .form {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0px;
    }
    
}

.loader{
    font-size: 1.2rem;
    color:var(--secondary-color);
}

.alt{
    width:100%;

}

.alt.--animate.-slow{
    opacity: 0;
    animation: fadein 500ms 10s ease-in forwards;
}

.alt.--animate.-fast{
    opacity: 0;
    animation: fadein 500ms 8s ease-in forwards;
}

.alt__text{
    font-size: 13px;
    text-align: center;
}

.alt__text--resend{
    text-decoration: underline;
    color: var(--secondary-color);
    cursor: pointer;
}

.alt__text--resend:hover{
    color: rgb(197, 201, 211);
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .loginlayout{
        padding: 0 30px;
    }

    .form .form__heading {
        color: white;
        padding-top: 10px;
        font-size: 20px;
    }
    .form {
        padding:10px 15px;
        background: hsla(0, 0%, 100%,.1);
        border-radius: 25px;
    }
    .alt{
        color: white;
    }
    .alt__text--resend{
        text-decoration: underline;
        color: white;
        cursor: pointer;
    }
    
}