.whyNin {
    margin-top: 300px;
    margin-left: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 60px;
    width: 500px;
    animation: fadeIn 1.5s ease-in;
}

.whyNin .__whyNinText {
    margin-top: 0rem;
    font-size: 20px;
}
.whyNin .-white {
    color: #FFFFFF;
    text-align: center;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .whyNin {
        margin: 2rem 0;
        align-items: center;
        }

        .whyNin .__whyNinText {
            margin-left: 10%;
            margin-right: 10%;
            text-align: justify;
        }
}