@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Candal|IBM+Plex+Serif&display=swap');
.homepage-wrapper{
    background-image: linear-gradient( 
                        to right, 
                        black, 
                        rgba(59, 47, 132,0) 100%) , 
                        url(../../../static/images/rising_sun.jpg
                        );

    min-height: 99.99vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.homepage-wrapper__header{
    padding-left:30px;
    padding-right:50px;
    height: 94px;
    background: rgba(34, 27, 78, 0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Candal', sans-serif;
}

.homepage-wrapper__content{
    padding-left:60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items:center ;
}

.text{    
    width: 70%;
    max-width:550px;
    line-height: 2;
    font-family: 'IBM Plex Serif', serif;
}

.item{
    height: 20px;
    width:20px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 3px solid #d8dfe3;
    cursor: pointer;
    transition: ease-in 200ms;
}

.item:hover{
    transform: scale(1.415);
}

.item:active{
    transform: scale(1.0);
}

.item:focus{
    outline: none;
}

.active{
    background: hsl(202, 16%, 77%);
    transform: scale(1.4);
}


.homepage-wrapper__content--wrapper{
    margin-left: 50px;
}

.homepage-wrapper__content__side-bar{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    height: 45%;
}

.homepage-wrapper__footer{
    text-align: right;
    margin-top: 20vh;
    padding-bottom: 30px;
}

.homepage-wrapper__footer a{ 
    margin: 0 2.5vw;
}
.description{
    font-family: 'IBM Plex Serif', serif;
    font-size: 42px;
    padding: 0;
    margin: 0;
}

.--white{
    color: hsl(0, 0%, 100%);
}

.--mediumsized{
    font-size: 1.3em;
    font-family: 'IBM Plex Serif', serif;
}

.--bolder{
    font-weight: bolder;
}

.--small{
    height:35px;
}

.--animated{
    animation: fadein 1s ease-in;
}


@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .description{
        font-size: 28px;
    }    
    .text{
        font-weight: 100;
        font-size: 17px;
        line-height: 1.5;
        
    }
    .homepage-wrapper__content{
        padding-left:30px;
    }
    .homepage-wrapper__content--wrapper{
        margin-left: 40px;
    }
    .--bolder{
        font-weight: bold;
    }
    .homepage-wrapper__header__options{
        margin-left: 40px;
    }
}