@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Satisfy|Sulphur+Point&display=swap');

.homepage-wrapper{
    background-image: url(../../../static/images/rising_sun.jpg);
    background-color: rgba(59, 47, 132,0.05);
    background-blend-mode: overlay;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.homepage-wrapper__header{
    padding-left:30px;
    padding-right:50px;
    height: 84px;
    width:100vw;
    background: rgba(34, 27, 78, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage-wrapper__content{
    padding-left:100px;
    height:calc( 100vh - 400px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.homepage-wrapper__content .text{
    text-align: left;
    
    width: 60%;
    max-width:550px;

}


.description{
    font-size: 4em;
}


.--cursivefont{
    font-family: 'Satisfy', cursive;
}

.--boldfont{
    font-family: 'Sulphur Point', sans-serif;
}
.--white{
    color: hsl(0, 0%, 92%);
}

.--mediumsized{
    font-size: 1.3em;
}

.--bolder{
    font-weight: bolder;
}
