
.layout {
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.headingText{
    color: white;
}

 .heading{
    display: flex;
    align-items: center;
    padding-left: 7%;
    padding-top: 15px;
    width: 60.5%;
    height: 80px;
    background:var(--primary-color);
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(
       0% 0, /* left top */
       100% 0, /* right top */ 
       96.3% 100%, /* right bottom */
       0% 100% /* left bottom */
     );
}

.particle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom:2%;
    padding-top: 2%;
}


.whiteSection {
    width: 35%; 
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.blueSection {
    width: 65%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      40% 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0% 100% /* left bottom */
    );
    background-color:var(--primary-color);
    min-height: 100vh;
}
/* style={particleStyle} */


@media (max-width: 950px) {

    .heading{
        width: 0;
        height: 0px;
        clip-path: polygon(
           0
         );
   
    }

    .layout {
        flex-direction: column;
        height: fit-content;
    }

    .whiteSection {
        width: 100%; 
        margin-left: 0px;
    }

    .blueSection {
        width: 100%;
        clip-path: polygon(
          0 0, /* left top */
          100% 0, /* right top */ 
          100% 100%, /* right bottom */
          0 100% /* left bottom */
        );
        min-height: auto;
    }; 
    

}