
.layout {
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.headingText{
    color: white;
}

 .heading{
    display: flex;
    align-items: center;
    padding-left:30px;
    padding-top: 15px;
    width: 70%;
    height: 80px;
    background:var(--primary-color);
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Candal', sans-serif;
}


.whiteSection {
    width: 35%; 
    display: flex;
    flex-direction: column;    
    margin-top: 250px;
    align-items: center;
}

.blueSection {
    width: 65%;
    height:100%;
    clip-path: polygon(
      40% 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0% 100% /* left bottom */
    );
    background-color:white;
    border:3px solid white;
    min-height: 100vh;
}

.blueSection__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    clip-path: polygon(
      40.3% 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0.3% 100% /* left bottom */
    );
    background-color:var(--primary-color);
    min-height: calc(100vh - 6px);  
    background-image: linear-gradient( 
        to right, 
        black, 
        rgba(59, 47, 132,0) 100%) , 
        url(../../static/images/rising_sun.jpg
        );

    height: 100%;
    width: 100%;
    background-size: cover;
    font-family: 'IBM Plex Serif', serif;
}


@media (max-width: 950px) {

    .heading{
        width: 100%;
   
    }

    .layout {
        flex-direction: column;
        height: fit-content;
    }

    .whiteSection {
        width: 100%; 
        margin-left: 0px;
    }

    .blueSection {
        display: none;
    }; 
    

}

