.-fullWidth {
    width: 100%;
}
.createElection__submit-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.createElectionForm__button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px 0;
    text-align: center;
    width:250px;
    height: 42px;
    display: flex;
    justify-content: center;
}
@media (max-width : 1158px){
    .create-election-card__section__content{
        flex-wrap: wrap;
        align-self: unset;
        justify-content: unset ;
    }
    .create-election-card__section__content__formelement{
        margin-top: 25px;
        width: 100%;
    }
    .create-election-card__section__content__text{
        font-weight: 600;
        font-size: 15px;
    }
}
@media (max-width: 990px) {
    .createElectionForm {
        width: 80%;
    }

    .createElectionForm__heading {
        margin-bottom: 35px;
    }

    .createElectionForm__button {
        margin:40px auto;
        height: 42px;

    }
    .createElectionForm__heading_header {
        font-size: 1.2rem;
    }
}
@media (max-width: 500px) {
    .createElectionForm {
        width: 80%;
    }
    .createElectionForm__heading_header {
        text-align: center;
     }
    .createElectionForm__heading_text{
        text-align: center;
    }
}
@media (min-width : 1500px){
    .createElectionForm {
        width: 70%;
    }
}