.ant-card-actions > li > span a:not(.ant-btn), .ant-card-actions > li > span > .anticon {
    color:white;
}
.ant-card-actions > li > span a:not(.ant-btn), .ant-card-actions > li > span > .anticon:hover {
    color:white;
}
.cardTitle__meta__image{
    margin-right: 10px;
}
.cardTitle__meta__text{
    font-family: var(--secondary-font);
}
.divider{
    margin-top: 25px;
    border: 0.5px solid green;
}
.--bolder{
    font-family: var(--primary-font);
    font-size: 15.5px;
}
.cardTitle__tag .--paddingRight{
    margin-right:5px;
}
