.addCandidate {
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-color: hsl(208, 100%, 98.5%);
}

.addCandidateCard {
    border: 2px dashed hsl(208, 100%, 90.5%);
}

.addCandidateForm {
    margin-top: 2rem;
    width: 80%;
}

.addCandidateForm__group{
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
}
.addCandidateForm__group span{
    padding-left: 5px;
    font-weight: 552;
}
.addCandidateForm__group .--input-element{
    margin-top: 5px;
    min-height: 35px;
}

.addCandidateForm__heading_header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #373757
}

.addCandidateForm__input {
    padding: 0 15px;
    display: block;
    margin-bottom: 20px;

}

.-topMargin {
    margin-top: 20px;
    display: block;
}

.addCandidateForm__textArea {
    margin-bottom: 20px;
}

.addCandidateForm__datePicker {
    border-width: 0;
    display: block;
    margin-bottom: 20px;
}

.addCandidateForm__button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    margin: 45px auto;
    text-align: center;
    width:150px;
    height: 42px;
    display: flex;
    justify-content: center;

}
.addCandidateForm__heading_text{
    text-align: center;
    font-weight: lighter;
}
.addCandidateForm__heading{
    margin-bottom: 60px;
}

.addCandidateForm__button:hover {
    background-color: #FFFFFF;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

@media (max-width: 990px) {
    .addCandidateForm {
        width: 80%;
    }
    .addCandidateForm__group{
        margin: auto;
        width: 90%;
        margin-bottom: 30px;
    }
    .addCandidateForm__heading {
        margin-bottom: 45px;
    }
    .addCandidateForm__group .--input-element{
        margin-top: 5px;
        height: 35px;
    }
    .addCandidateForm__button {
        margin: 0px auto;
    }
    .addCandidateForm__heading_header {
        font-size: 1.2rem;
    }
    .addCandidateForm__button {
        height: 35px;
    }
}

@media (max-width: 500px) {
    .addCandidateForm {
        width: 80%;
    }
}

@media (min-width : 1500px){
    .addCandidateForm__group{
        margin: auto;
        width: 85%;
        margin-bottom: 50px;
    }
    
    .addCandidateForm {
        width: 60%;
    }
    .addCandidateForm__group .--input-element{
        margin-top: 5px;
        min-height: 40px;
    }
}



