/* Entire side nav bar */
.sideNav {
    min-height: 100vh;
    background-color: var(--primary-color);
    width: 300px !important;
    flex: 0 0 300px !important;
}

/* Start of top section of side nav bar */
.sideNav__top{
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Logo of top section of side nav bar */
.sideNav__topLogo {
    padding: 0 16px;
    color: #CCC;
    font-size: 1.6rem;
}
/* End of top section of side nav bar */

/* Menu of side nav bar */
.menu {
    background-color: var(--primary-color);
}

/* Start side nav bar toggle element */
.ant-layout-sider-zero-width-trigger {
    top: 6px;
    color: var(--primary-color);
    background-color: #FFFFFF;
}
.ant-layout-sider-zero-width-trigger:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.sideNav__sideitem:first-of-type{
    margin-top: 15px;
}
.sideNav__sideitem{
    padding: 8px 14px !important;
    height: 100% !important;
    font-size: 15px !important;
    font-weight: bolder;
}
/* End side nav bar toggle element */
@media (max-width: 990px) {
    .sideNav__sideitem{
        font-size: 12px !important;
        font-weight: bold;
    } 
}

@media (min-width: 1000px) {
    .sideNav {
        min-width: 300px !important;
        flex: 0 0 300px !important;
    }
    .ant-layout-sider-children {
        position: fixed;
        width: 300px;
    }
    
}
.--font-style{
    font-family: 'Candal', sans-serif;
    color:white;
}



