/* Entire side nav bar */
.sideNav {
    min-height: 100vh;
    /* background-color: var(--primary-color); */
    width: 300px !important;
    flex: 0 0 300px !important;
    background-image: linear-gradient( 
        to right, 
        rgba(48, 47, 47, 0.801), 
        rgba(59, 47, 132,0) 100%) , 
        url(../../../static/images/rising_sun.jpg
        );
    background-size: 650px 100vh;
}

/* Start of top section of side nav bar */
.sideNav__top{
    height: 76px;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    margin-bottom: 4px;
}

/* Logo of top section of side nav bar */
.sideNav__topLogo {
    padding: 0 16px;
    color: #CCC;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.23;
}
/* End of top section of side nav bar */

/* Menu of side nav bar */
.menu {
    /* background:unset; */
    /* background-color: var(--primary-color); */
}

/* Start side nav bar toggle element */
.ant-layout-sider-zero-width-trigger {
    top: 6px;
    color: var(--primary-color);
    background-color: #FFFFFF;
}
.ant-layout-sider-zero-width-trigger:hover{
    /* background-color: var(--primary-color); */
    color: #FFFFFF;
}
.sideNav__sideitem:first-of-type{
    margin-top: 15px;
}
.sideNav__sideitem{
    padding: 8px 14px !important;
    height: 100% !important;
    font-size: 15px !important;
    font-weight: bolder;
}
/* End side nav bar toggle element */

.ant-menu.menu.ant-menu-dark.ant-menu-root.ant-menu-inline{
    background: unset;
}

@media (max-width: 999px) {
    .sideNav__sideitem{
        font-size: 13.8px !important;
        font-weight: bold;
    }

    /* Entire side nav bar */
    .sideNav {
        background-size: 650px 100vh;
    }
}

@media (min-width: 1000px) {
    .sideNav {
        min-width: 300px !important;
        flex: 0 0 300px !important;
    }

    .ant-layout-sider-children {
        position: fixed;
        width: 300px;
    }
    .sideNav__topLogo {
        font-size: 2rem ;
    }
    .sideNav__top_icon{
        margin-right: 20px;
    }

}
.--font-style{
    color:white;
}

.sideNav__top_icon{
    margin-right: 10px;
}



