@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Red+Hat+Text&display=swap');
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

:root{
    --primary-color:#05052d;
    --secondary-color:#0D3578;
    --tetiary-color:#E31C79;
    --backup:#8E66DA;
    --secondary-font:'Red Hat Text', sans-serif;
    --primary-font:'Lexend Deca', sans-serif;
}

.ant-card-body {
    font-family: var(--secondary-font);
}
.ant-card-head-title {
    font-family: var(--primary-font);
}
.ant-card-actions {
    font-family: var(--secondary-font);
    font-weight: 600;
}
.ant-menu-item > a {
    font-family: var(--primary-font);
}
tspan {
    font-family: var(--primary-font);
}
.ant-spin.ant-spin-lg.ant-spin-spinning.ant-spin-show-text.loader{
    width: 100%;
}