@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Candal|IBM+Plex+Serif&display=swap');

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

:root{
    --primary-color:#05052d;
    --secondary-color:#0D3578;
    --tetiary-color:#E31C79;
    --backup:#8E66DA;
}