.viewElection{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background:linear-gradient(to bottom right, hsl(208, 100%, 98.5%) 40%, white);
    background-color: hsl(208, 100%, 98.5%);
}
.electionItem{
    width: 450px;
    max-width: 700px;
    /* min-width: 40px; */
    margin: 0px 10px 50px 10px;
}


.viewElectionLayout  div.ant-spin.ant-spin-lg.ant-spin-spinning.ant-spin-show-text.loader{
    width:100%
}


.electionItem__subitem{
    display: flex;
    width: 90%;
    padding: 0 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

.electionItem__subitem.--text{
    padding-top: 5px;
}

.viewElectionLayout .ant-spin-nested-loading {
    position: unset !important;
}

.electionItem__subitem__icon{
    margin-right: 13px;
}

.electionItem__statistics{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.--button{
    margin-left: 6px;
}

@media (max-width:376px){
    .--button{
        margin-top: 20%;
    }

    .--hide-on-very-small{
        display: none;
    }
}
@media (max-width:1380px){
    .electionItem{
        min-width: 300px;
    }
}

@media (max-width: 854px){
    .electionItem{
        width: 70%;
        min-width: 300px;
    }
}

@media (max-width: 1155px) and (min-width: 991px){
    .electionItem{
        width: 70%;
    }
}